@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1162px;
  width: 100%;
  margin: 0 auto;
}

.roboto {
  font-family: var(--roboto);
}

.alexandra{
   font-family: var(--alexandra);
}

.open-sans{
  font-family: var(--open_sans);
}

