@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--roboto);
  font-weight: 300;
  font-size: 1.6rem;
  color: #656565;
  line-height: 2.4rem;
}

.container{
  max-width: 1162px;
  width: 100%;
  margin: 0 auto;
}

@media(max-width: 768px){
  .container{
    padding: 0 15px;
  }
}

.roboto {
  font-family: var(--roboto);
}

.alexandra{
   font-family: var(--alexandra);
}

.open-sans{
  font-family: var(--open_sans);
}

