

.whatsapp {
	/* position: fixed;
	right: 0;
	bottom: 0; */
	z-index: 20;
	padding-right: 32px;
	padding-bottom: 32px;
	pointer-events: none;
}

.whatsapp__wrapper {
	position: relative;
	display: block;
	padding: 8px;
	filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, .2));
	transition-property: transform, filter;
	transition-duration: .3s;
	pointer-events: all;
}

.whatsapp__wave {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#E3B7B5,#C7B4B6);
	border-radius: 50%;
}

.whatsapp__wave_1 {
	animation: pulse 3s ease-in-out infinite reverse;
}

.whatsapp__icon {
	position: relative;
	z-index: 5;
	width: 40px;
	height: 40px;
}

.whatsapp__wrapper .whatsapp__waves {
	transition-property: opacity;
	transition-duration: .8s;
	transition-timing-function: ease-out;
}

.whatsapp__wrapper:hover .whatsapp__waves {
	opacity: 0;
}

.whatsapp__wrapper:hover {
	transform: translateY(-10px);
	filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, .2));
}


@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(1);
	}
}

